/* font-family: 'Lobster', cursive; */
.bg-color {
    background: #9370DB;
}

#brand-name {
    font-family: 'Lobster', cursive;
    color: #ffffff;
    font-size: 30px;
}

#log-in-btn {
    height: 40px;
    margin-top: 30px;
    color: #ffffff;
    background: #da0ce8;
    border-color: #da0ce8;
}

#sign-up-btn {
    background: #9370DB;
    border-color: #9370DB;
}

#log-out-btn {
    color: #da0ce8;
}